<div *ngIf="pageReady" style="margin:24px; min-height: 735px;">
  <nz-card class="card_margin">
    <ng-template #body>
      <div nz-col [nzSpan]="16" [nzOffset]="'4'">
        <div nz-form-item nz-row>
          <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
            <label for="title" >角色名称</label>
          </div>
          <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
            <nz-input [nzPlaceHolder]="" [nzSize]="'large'" [(ngModel)]="role.name" [nzId]="'title'"></nz-input>
          </div>
        </div>
        <br/>
        <div nz-form-item nz-row>
          <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
            <label >权限</label>
          </div>
          <div nz-col class="gutter-row" [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="12" [nzXl]="6">
            <nz-card class="cc1 lead-bottom" [nzBordered]="true" style="width:350px">
              <ng-template #title>
                用户管理
              </ng-template>
              <ng-template #body>
                <nz-table #nzTable [nzAjaxData]="userPageList" [nzIsPagination]="false">
                  <tbody nz-tbody *ngIf='userPageList'>
                    <tr *ngFor="let page of userPageList;let i = index">
                      <td>{{ page.name }}</td>
                      <td>
                        <span>
                          <nz-radio-group [(ngModel)]="role.permissionMap[page.value]">
                            <label nz-radio *ngFor="let but of pageEditList;let j = index" [nzValue]="but.value">
                              <span>{{but.name}}</span>
                            </label>
                          </nz-radio-group>
                        </span>
                      </td>
                    </tr>
                  </tbody>
                </nz-table>
              </ng-template>
              <br/>
            </nz-card>
            <br/>
            <nz-card class="cc1 lead-bottom" [nzBordered]="true" style="width:350px">
              <ng-template #title>
                dashboard
              </ng-template>
              <ng-template #body>
                <nz-table #nzTable [nzAjaxData]="dashboardPageList" [nzIsPagination]="false">
                  <tbody nz-tbody *ngIf='dashboardPageList'>
                    <tr *ngFor="let page of dashboardPageList;">
                      <td>{{ page.name }}</td>
                      <td>
                        <span>
                          <nz-radio-group [(ngModel)]="role.permissionMap[page.value]">
                            <label nz-radio *ngFor="let but of pageEditList" [nzValue]="but.value">
                              <span>{{but.name}}</span>
                            </label>
                          </nz-radio-group>
                        </span>
                      </td>
                    </tr>
                  </tbody>
                </nz-table>
              </ng-template>
            </nz-card>
            <br/>
            <nz-card class="cc1 lead-bottom" [nzBordered]="true" style="width:350px">
              <ng-template #title>
                表单页
              </ng-template>
              <ng-template #body>
                <nz-table #nzTable [nzAjaxData]="formPageList" [nzIsPagination]="false">
                  <tbody nz-tbody *ngIf='formPageList'>
                    <tr *ngFor="let page of formPageList;">
                      <td>{{ page.name }}</td>
                      <td>
                        <span>
                          <nz-radio-group [(ngModel)]="role.permissionMap[page.value]">
                            <label nz-radio *ngFor="let but of pageEditList" [nzValue]="but.value">
                              <span>{{but.name}}</span>
                            </label>
                          </nz-radio-group>
                        </span>
                      </td>
                    </tr>
                  </tbody>
                </nz-table>
              </ng-template>
              <br/>
            </nz-card>
            <br/>
            <nz-card class="cc1 lead-bottom" [nzBordered]="true" style="width:350px">
              <ng-template #title>
                列表页
              </ng-template>
              <ng-template #body>
                <nz-table #nzTable [nzAjaxData]="listPageList" [nzIsPagination]="false">
                  <tbody nz-tbody *ngIf='listPageList'>
                    <tr *ngFor="let page of listPageList;">
                      <td>{{ page.name }}</td>
                      <td>
                        <span>
                          <nz-radio-group [(ngModel)]="role.permissionMap[page.value]">
                            <label nz-radio *ngFor="let but of pageEditList" [nzValue]="but.value">
                              <span>{{but.name}}</span>
                            </label>
                          </nz-radio-group>
                        </span>
                      </td>
                    </tr>
                  </tbody>
                </nz-table>
              </ng-template>
              <br/>
            </nz-card>
            <br/>
            <nz-card class="cc1 lead-bottom" [nzBordered]="true" style="width:350px">
              <ng-template #title>
                结果页
              </ng-template>
              <ng-template #body>
                <nz-table #nzTable [nzAjaxData]="resultPageList" [nzIsPagination]="false">
                  <tbody nz-tbody *ngIf='resultPageList'>
                    <tr *ngFor="let page of resultPageList;">
                      <td>{{ page.name }}</td>
                      <td>
                        <span>
                          <nz-radio-group [(ngModel)]="role.permissionMap[page.value]">
                            <label nz-radio *ngFor="let but of pageEditList" [nzValue]="but.value">
                              <span>{{but.name}}</span>
                            </label>
                          </nz-radio-group>
                        </span>
                      </td>
                    </tr>
                  </tbody>
                </nz-table>
              </ng-template>
              <br/>
            </nz-card>
            <br/>
            <nz-card class="cc1 lead-bottom" [nzBordered]="true" style="width:350px">
              <ng-template #title>
                异常页
              </ng-template>
              <ng-template #body>
                <nz-table #nzTable [nzAjaxData]="exceptionPageList" [nzIsPagination]="false">
                  <tbody nz-tbody *ngIf='exceptionPageList'>
                    <tr *ngFor="let page of exceptionPageList;">
                      <td>{{ page.name }}</td>
                      <td>
                        <span>
                          <nz-radio-group [(ngModel)]="role.permissionMap[page.value]">
                            <label nz-radio *ngFor="let but of pageEditList" [nzValue]="but.value">
                              <span>{{but.name}}</span>
                            </label>
                          </nz-radio-group>
                        </span>
                      </td>
                    </tr>
                  </tbody>
                </nz-table>
              </ng-template>
              <br/>
            </nz-card>
            <br/>
            <nz-card class="cc1 lead-bottom" [nzBordered]="true" style="width:350px">
              <ng-template #title>
                样式页
              </ng-template>
              <ng-template #body>
                <nz-table #nzTable [nzAjaxData]="stylePageList" [nzIsPagination]="false">
                  <tbody nz-tbody *ngIf='stylePageList'>
                    <tr *ngFor="let page of stylePageList;">
                      <td>{{ page.name }}</td>
                      <td>
                        <span>
                          <nz-radio-group [(ngModel)]="role.permissionMap[page.value]">
                            <label nz-radio *ngFor="let but of pageEditList" [nzValue]="but.value">
                              <span>{{but.name}}</span>
                            </label>
                          </nz-radio-group>
                        </span>
                      </td>
                    </tr>
                  </tbody>
                </nz-table>
              </ng-template>
              <br/>
            </nz-card>
          </div>
        </div>

        <div nz-form-item nz-row>
          <div nz-form-explain style="margin-top:30px;margin-left: 40%">
            <button nz-button [nzType]="'primary'" (click)="submit()">
              <span>提交</span>
            </button>
            <button nz-button [nzType]="'default'" (click)="cancel()">
              <span>取消</span>
            </button>
          </div>
        </div>
      </div>
    </ng-template>
  </nz-card>
</div>