<div nz-row [nzType]="'flex'" [nzJustify]="'space-around'" [nzAlign]="'middle'" class="breadcrumb_style">
    <div nz-col [nzSpan]="24">
      <nz-breadcrumb class='breadcrumb_test'>
      </nz-breadcrumb>
    </div>
    <div nz-col [nzSpan]="24">
    </div>
  </div>
  
  <div nz-row [nzType]="'flex'" style="margin:24px; background: #fff; padding:24px 32px;position: relative">
    <div nz-col [nzSpan]="5" class='text_margin'>
      <label style="width:20%">教室名称：</label>
      <nz-input style="width:60%" [nzPlaceHolder]="'请输入'" [nzSize]="'large'" [(ngModel)]="pageCon.classroomName"></nz-input>
    </div>
    <div nz-col [nzSpan]="5" class='text_margin'>
      <label style="width:20%">教室人数：</label>
      <nz-input style="width:60%" [nzPlaceHolder]="'请输入'" [nzSize]="'large'" [(ngModel)]="pageCon.classroomPeople"></nz-input>
    </div>
    <div nz-col [nzSpan]="5" class='text_margin'>
      <label style="width:20%">教室地址：</label>
      <nz-input style="width:60%" [nzPlaceHolder]="'请输入'" [nzSize]="'large'" [(ngModel)]="pageCon.classroomAddress"></nz-input>
    </div>
    <div nz-col [nzSpan]="4"  class='text_margin' style="position: absolute;right: 24px;">
      <button nz-button class="addBtn" [nzType]="'primary'" style="margin-right: 8px;float: right" (click)="createClassroom()">
        <span>新建</span>
      </button>
      <button nz-button [nzType]="'primary'" style="margin-right: 8px;float: right" (click)="searchClassroomList(true)">
        <span>查询</span>
      </button>

    </div>
    <div nz-col [nzSpan]="24" class='text_margin'>
      
    </div>
    <div nz-col [nzSpan]="24" class='text_margin' style="margin-top: 20px;">
      <nz-table #nzTable [nzAjaxData]="iclassroom" [nzIsPagination]="false">
        <thead nz-thead>
          <tr>
            <th nz-th [nzWidth]="'30%'">
              <span>教室名称</span>
            </th>
            <th nz-th [nzWidth]="'20%'">
              <span>教室人数</span>
            </th>
            <th nz-th [nzWidth]="'30%'">
              <span>教室地址</span>
            </th>
            <th nz-th>
              <span>操作</span>
            </th>
          </tr>
        </thead>
        <tbody nz-tbody *ngIf='iclassroom'>
            <tr *ngFor="let classroom of iclassroom" >
                <td>{{ classroom.classroomName }}</td>
                <td>{{ classroom.classroomPeople }}</td>
                <td>{{ classroom.classroomAddress }}</td>
                <td>
                  <span>
                    <a (click)="edit(classroom.id)">编辑</a>
                     <span nz-table-divider></span>
                     <nz-popconfirm [nzTitle]="'确定删除？'" (nzOnConfirm)="confirm(classroom.id)" (nzOnCancel)="cancel()">
                      <a nz-popconfirm>删除</a>
                      </nz-popconfirm>
                  </span>
                </td>
              </tr>
        </tbody>
      </nz-table>
    </div>
    <div style="margin-top: 20px;">
        <nz-pagination [nzPageIndex]="pageCon.page" [nzTotal]="pageCon.count"  [nzPageSize]="pageCon.pageSize" (nzPageIndexChange)="changePage($event)"></nz-pagination>
    </div>
    
  </div>
