<div style="margin:24px; min-height: 735px;">
  <nz-card class="card_margin">
    <ng-template #body>
      <button nz-button (click)="createNotification('success')">成 功</button>
      <button nz-button (click)="createNotification('info')">消 息</button>
      <button nz-button (click)="createNotification('warning')">警 告</button>
      <button nz-button (click)="createNotification('error')">错 误</button>

      <button nz-button (click)="creat()">creat</button>
      <button nz-button (click)="update()">update</button>
      <button nz-button (click)="delete()">delete</button>
      <button nz-button (click)="search()">search</button>
      <button nz-button (click)="search2()">search2</button>
    </ng-template>
  </nz-card>
</div>
