<div style="margin:24px;">
  <nz-card class="card_margin">
    <ng-template #body>
      <div nz-col [nzSpan]="16" [nzOffset]="'4'">
        <div nz-form >

          <div nz-form-item nz-row>
              <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
                <label for="title">教师姓名</label>
              </div>
              <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                <nz-input style="width:75%" [nzPlaceHolder]="'请输入'" [nzSize]="'large'" [(ngModel)]="teacherParama.teacherName" disabled></nz-input>
                <div nz-form-explain *ngIf="nameError">请输入教师姓名</div>
              </div>
          </div>
          <div nz-form-item nz-row>
              <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
                <label for="title">教师编号</label>
              </div>
              <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                <nz-input style="width:75%" [nzPlaceHolder]="'请输入'" [nzSize]="'large'" [(ngModel)]="teacherParama.teacherCd"></nz-input>
                <div nz-form-explain *ngIf="cdError">请输入教师编号</div>
              </div>
          </div>
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
              <label for="title">性别</label>
            </div>
            <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
              <nz-select id="sexselect" style="width:75%"  [nzSize]="'large'" [(ngModel)]="sexselected" [nzPlaceHolder]="'请选择'">

                  <nz-option *ngFor="let option of sexlistoptions" [nzLabel]="option.label" [nzValue]="option" >
                  </nz-option>

                  <!-- <nz-option [nzLabel]="'男'" [nzValue]="1"></nz-option>
                  <nz-option [nzLabel]="'女'" [nzValue]="0"></nz-option> -->
              </nz-select>
            </div>
          </div>
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
              <label for="title">教师级别</label>
            </div>
            <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
              <nz-select style="width:75%"  [nzSize]="'large'" [(ngModel)]="levelselected" [nzPlaceHolder]="'请选择'">
                  <nz-option *ngFor="let option of leveloptions" [nzLabel]="option.label" [nzValue]="option" >
                  </nz-option>
                  <!-- <nz-option [nzLabel]="'1'" [nzValue]="1"></nz-option>
                  <nz-option [nzLabel]="'2'" [nzValue]="2"></nz-option>
                  <nz-option [nzLabel]="'3'" [nzValue]="3"></nz-option> -->
              </nz-select>
            </div>
          </div>
          <div nz-form-item nz-row>
              <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
                <label for="title">教师简介</label>
              </div>
              <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                <nz-input style="width:75%" [nzType]="'textarea'" [nzRows]="'4'" [nzPlaceHolder]="''" [(ngModel)]="teacherParama.teacherProfile"></nz-input>
              </div>
          </div>
          <div nz-form-item nz-row>
              <div nz-form-explain style="margin-top:30px;margin-left: 40%">
                <button nz-button [nzType]="'primary'" (click)="updateTeacher()">
                  <span>提交</span>
                </button>
                <button nz-button [nzType]="'default'" (click)="cancel()">
                  <span>取消</span>
                </button>
              </div>
            </div>
          </div>
        </div>
    </ng-template>
  </nz-card>
</div>
