<div nz-row [nzType]="'flex'" [nzJustify]="'space-around'" [nzAlign]="'middle'" class="breadcrumb_style  breadcrumb">
  <div nz-col [nzSpan]="24" class='breadcrumb-test'>
    <nz-breadcrumb>
      <nz-breadcrumb-item>
        <a routerLink="pages/dashboard/analysis">
          <i class="anticon anticon-user"></i>
          <span>首页</span>
        </a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        基础表单
      </nz-breadcrumb-item>
    </nz-breadcrumb>
  </div>
  <div nz-col [nzSpan]="24" class='breadcrumb-detail'>
    <h1 class="breadcrumb-detail-title">基础表单</h1>
  </div>
  <div nz-col [nzSpan]="24" class='breadcrumb-detail-content'>
    <span>表单页用于向用户收集或验证信息，基础表单常见于数据项较少的表单场景。</span>
  </div>
  <div nz-col [nzSpan]="24" style="height:20px"></div>
</div>

<div style="margin:24px; min-height: 735px;">
  <nz-card class="card_margin">
    <ng-template #body>
      <div nz-col [nzSpan]="16" [nzOffset]="'4'">
        <form nz-form [formGroup]="validateForm" (ngSubmit)="_submitForm()">
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
              <label for="title" nz-form-item-required>标题</label>
            </div>
            <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
              <nz-input [nzPlaceHolder]="'给目标起个名字'" [nzSize]="'large'" formControlName="title" [nzId]="'title'"></nz-input>
              <div nz-form-explain *ngIf="getFormControl('title').dirty&&getFormControl('title').hasError('required')">请输入标题</div>
            </div>
          </div>
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
              <label for="date" nz-form-item-required>起止日期</label>
            </div>
            <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
              <nz-rangepicker [nzSize]="'large'" formControlName="date" [nzPlaceholder]="['开始日期', '结束日期']"></nz-rangepicker>
              <div nz-form-explain *ngIf="getFormControl('date').dirty&&getFormControl('date').hasError('required')">请选择起止日期</div>
            </div>
          </div>
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
              <label for="discription" nz-form-item-required>
                <span>目标描述</span>
              </label>
            </div>
            <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
              <nz-input [nzType]="'textarea'" [nzRows]="'4'" [nzPlaceHolder]="'请输入你的阶段性工作目标'" [nzSize]="'large'" formControlName="discription"
                [nzId]="'discription'"></nz-input>
              <div nz-form-explain *ngIf="getFormControl('discription').dirty&&getFormControl('discription').hasError('required')">请输入目标描述</div>
            </div>
          </div>
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
              <label for="measure" nz-form-item-required>
                <span>衡量标准</span>
              </label>
            </div>
            <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
              <nz-input [nzType]="'textarea'" [nzRows]="'4'" [nzPlaceHolder]="'请输入衡量标准'" [nzSize]="'large'" formControlName="measure" [nzId]="'measure'"></nz-input>
              <div nz-form-explain *ngIf="getFormControl('measure').dirty&&getFormControl('measure').hasError('required')">请输入衡量标准</div>
            </div>
          </div>

          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
              <label for="customer">
                <span>客户（选填）</span>
                <nz-tooltip [nzTitle]="'目标的服务对象'" [nzPlacement]="'top'">
                  <i nz-tooltip class="anticon anticon-info-circle-o"></i>
                </nz-tooltip>
              </label>
            </div>
            <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
              <nz-input [nzPlaceHolder]="'请描述你的服务客户'" [nzSize]="'large'" formControlName="customer" [nzId]="'customer'"></nz-input>
            </div>
          </div>
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
              <label for="invite">
                <span>邀评人（选填）</span>
              </label>
            </div>
            <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
              <nz-input [nzPlaceHolder]="'最多邀请5人'" [nzSize]="'large'" formControlName="invite" [nzId]="'invite'"></nz-input>
            </div>
          </div>
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
              <label for="weight">
                <span>权重（选填）</span>
              </label>
            </div>
            <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
              <nz-input [nzPlaceHolder]="'请输入'" style="width:110px" [nzType]="'number'" [nzSize]="'large'" formControlName="weight" [nzId]="'weight'"></nz-input>
              <i>%</i>
            </div>
          </div>
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
              <label for="public">
                <span>目标公开</span>
              </label>
            </div>
            <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
              <!-- <nz-input [nzSize]="'large'" formControlName="public" [nzId]="'public'"></nz-input> -->
              <nz-radio-group [(ngModel)]="radioValue" formControlName="public">
                <label nz-radio [nzValue]="'A'">
                  <span>公开</span>
                </label>
                <label nz-radio [nzValue]="'B'">
                  <span>部分公开</span>
                </label>
                <label nz-radio [nzValue]="'C'">
                  <span>不公开</span>
                </label>
              </nz-radio-group>
              <nz-select *ngIf="radioValue === 'B'" [nzSize]="'large'" [nzMode]="'multiple'" [nzPlaceHolder]="'请选择人员'">
                <nz-option [nzLabel]="'同事甲'" [nzValue]="'01'"></nz-option>
                <nz-option [nzLabel]="'同事乙'" [nzValue]="'02'"></nz-option>
                <nz-option [nzLabel]="'同事丙'" [nzValue]="'03'"></nz-option>
              </nz-select>
              <div nz-form-explain *ngIf="radioValue">客户、邀评人默认被分享</div>
              <div nz-form-explain style="margin-top:30px">
                <button nz-button [nzType]="'primary'">
                  <span>提交</span>
                </button>
                <button nz-button [nzType]="'default'">
                  <span>保存</span>
                </button>
              </div>
            </div>
          </div>

        </form>
      </div>
    </ng-template>
  </nz-card>
</div>
