<div nz-row [nzType]="'flex'" [nzJustify]="'end'" [nzAlign]="'middle'" style="min-height: 800px">
  <div nz-col [nzSpan]="11" class="breadcrumb-test">
    <img style="float:right" src="https://gw.alipayobjects.com/zos/rmsportal/RVRUAYdCGeYNBWoKiIwB.svg">
  </div>
  <div nz-col [nzSpan]="11" [nzOffset]="2" class="breadcrumb-test">
    <h1>500</h1>
    <span>抱歉，服务器出错了</span>
    <br>
    <button routerLink="/pages/dashboard/analysis" style="margin-top:10px" nz-button [nzType]="'primary'">
      <span>返回首页</span>
    </button>
  </div>
</div>
