<div nz-row [nzType]="'flex'" [nzJustify]="'space-around'" [nzAlign]="'middle'" class="breadcrumb_style breadcrumb">
  <div nz-col [nzSpan]="24" class="breadcrumb-test">
    <nz-breadcrumb>
      <nz-breadcrumb-item>
        <a routerLink="pages/dashboard/analysis">
          <i class="anticon anticon-user"></i>
          <span>首页</span>
        </a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        通用样式
      </nz-breadcrumb-item>
    </nz-breadcrumb>
  </div>
  <div nz-col [nzSpan]="24" class="breadcrumb-detail">
    <div class="main">
      <div class="row">
        <h1 class="breadcrumb-detail-title">通用样式</h1>
      </div>
      <div class="row">
        <div class="breadcrumb-detail-content">通用样式-基于全页面</div>
      </div>
    </div>
  </div>
</div>

<div style="margin:24px; background: #fff;">
  <!-- 字体大小 -->
  <div class="row-padding" style="padding:24px; background: #fff;">
    <h2 class='text_margin'>文字大小</h2>
    <div nz-row>
      <div nz-col [nzSpan]="8" class='text_margin'>
        <p>class：
          <span class="font">fs_12</span>
        </p>
        <p>效果：
          <span class="fs_12">这是12px字体</span>
        </p>
      </div>
      <div nz-col [nzSpan]="8" class='text_margin'>
        <p>class：
          <span class="font">fs_14</span>
        </p>
        <p>效果：
          <span class="fs_14">这是14px字体</span>
        </p>
      </div>
      <div nz-col [nzSpan]="8" class='text_margin'>
        <p>class：
          <span class="font">fs_16</span>
        </p>
        <p>效果：
          <span class="fs_16">这是16px字体</span>
        </p>
      </div>
      <div nz-col [nzSpan]="8" class='text_margin'>
        <p>class：
          <span class="font">fs_18</span>
        </p>
        <p>效果：
          <span class="fs_18">这是18px字体</span>
        </p>
      </div>
      <div nz-col [nzSpan]="8" class='text_margin'>
        <p>class：
          <span class="font">fs_20</span>
        </p>
        <p>效果：
          <span class="fs_20">这是20px字体</span>
        </p>
      </div>
      <div nz-col [nzSpan]="8" class='text_margin'>
        <p>class：
          <span class="font">fs_24</span>
        </p>
        <p>效果：
          <span class="fs_24">这是24px字体</span>
        </p>
      </div>
      <div nz-col [nzSpan]="8" class='text_margin'>
        <p>class：
          <span class="font">fs_32</span>
        </p>
        <p>效果：
          <span class="fs_32">这是32px字体</span>
        </p>
      </div>
    </div>
  </div>

  <div class="row-padding" style="padding:24px; background: #fff;">
    <h2 class='text_margin'>文字大小</h2>
    <div class="border">
      <h3 class='text_margin h3'>色号</h3>
      <div nz-row>
        <div nz-col [nzSpan]="8" class='text_margin'>
          <p>主题色：
            <span class="info-color">@bule: #1890ff;</span>
          </p>
        </div>
        <div nz-col [nzSpan]="8" class='text_margin'>
          <p>辅助色：
            <span class="success-color">@green: #52c41a;</span>
          </p>
        </div>
        <div nz-col [nzSpan]="8" class='text_margin'>
          <p>警醒色：
            <span class="error-color">@red:#f5222d;</span>
          </p>
        </div>
      </div>
    </div>
    <div class="border">
      <h3 class='text_margin h3'>文字颜色</h3>
      <div nz-row>
        <div nz-col [nzSpan]="8" class='text_margin'>
          <p>class：
            <span>info-color</span>
          </p>
          <p>效果：
            <span class="info-color">主题色</span>
          </p>
        </div>
        <div nz-col [nzSpan]="8" class='text_margin'>
          <p>class：
            <span>success-color</span>
          </p>
          <p>效果：
            <span class="success-color">辅助色</span>
          </p>
        </div>
        <div nz-col [nzSpan]="8" class='text_margin'>
          <p>class：
            <span>error-color</span>
          </p>
          <p>效果：
            <span class="error-color">警醒色</span>
          </p>
        </div>
      </div>
    </div>
    <div class="border">
      <h3 class='text_margin h3'>背景颜色</h3>
      <div nz-row>
        <div nz-col [nzSpan]="8" class='text_margin'>
          <p>class：
            <span>info-bgc</span>
          </p>
          <p>效果：
            <span class="info-bgc box_mockup"></span>
          </p>
        </div>
        <div nz-col [nzSpan]="8" class='text_margin'>
          <p>class：
            <span>success-bgc</span>
          </p>
          <p>效果：
            <span class="success-bgc box_mockup"></span>
          </p>
        </div>
        <div nz-col [nzSpan]="8" class='text_margin'>
          <p>class：
            <span>error-bgc</span>
          </p>
          <p>效果：
            <span class="error-bgc box_mockup"></span>
          </p>
        </div>
      </div>
    </div>
    <div class="border">
      <h3 class='text_margin h3'>按钮颜色</h3>
      <div nz-row>
        <div nz-col [nzSpan]="8" class='text_margin'>
          <p>class：
            <span>btn-primary</span>
          </p>
          <p>效果：
            <span class="btn-primary btn">按钮</span>
          </p>
        </div>
        <div nz-col [nzSpan]="8" class='text_margin'>
          <p>class：
            <span>btn-success</span>
          </p>
          <p>效果：
            <span class="btn-success btn">按钮</span>
          </p>
        </div>
        <div nz-col [nzSpan]="8" class='text_margin'>
          <p>class：
            <span>btn-error</span>
          </p>
          <p>效果：
            <span class="btn-error btn">按钮</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
