<div style="margin: 24px;">
  <nz-card class="card_margin">
    <ng-template #body>
      <div nz-col [nzSpan]="16" [nzOffset]="'4'">
        <div nz-form >

            <div nz-form-item nz-row>
                <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
                  <label for="title" nz-form-item-required>学员</label>
                </div>
                <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                <nz-select style="width: 75%;"  [(ngModel)]="data.userId"    [nzSize]="'large'" [nzPlaceHolder]="'请选择学员'">
                  <nz-option *ngFor="let pre of studentResult" [nzLabel]="pre.studentName" [nzValue]="pre.userId"></nz-option>
                </nz-select>
                <div nz-form-explain *ngIf="data.studentError">请选择学员</div>
              </div>
            </div>

          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
              <label for="title" nz-form-item-required>教室</label>
            </div>
            <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
              <nz-select style="width: 75%;"  [(ngModel)]="data.classroomId"    [nzSize]="'large'" [nzPlaceHolder]="'请选择教室'">
                  <nz-option *ngFor="let pre of classroomResult" [nzLabel]="pre.classroomName" [nzValue]="pre.id"></nz-option>
              </nz-select>
              <div nz-form-explain *ngIf="data.classroomError">请选择教室</div>
            </div>
          </div>

          <div nz-form-item nz-row>
              <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
                <label for="title" nz-form-item-required>是否打餐</label>
              </div>
              <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
              <nz-select style="width: 75%;"  [nzSize]="'large'" [(ngModel)]="data.needfood" [nzPlaceHolder]="'请选择'">
                  <nz-option [nzLabel]="'是'" [nzValue]="0"></nz-option>
                  <nz-option [nzLabel]="'否'" [nzValue]="1"></nz-option>
              </nz-select>
              <div nz-form-explain *ngIf="data.foodError">请选择是否打餐</div>
            </div>
          </div>

          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
                <label for="title" nz-form-item-required>托管时间</label>
            </div>
            <nz-rangepicker [(ngModel)]="data.dateRange" [nzFormat]="'YYYY/MM/DD'"></nz-rangepicker>
            <div nz-form-explain *ngIf="data.dateError">请选择托管时间</div>
          </div>

          <div nz-form-item nz-row>
              <div nz-form-explain style="margin-top:30px;margin-left: 40%">
                <button nz-button [nzType]="'primary'" (click)="createTeacher()">
                  <span>提交</span>
                </button>
                <button nz-button [nzType]="'default'" (click)="cancel()">
                  <span>取消</span>
                </button>
              </div>
            </div>
          </div>
          </div>
    </ng-template>
  </nz-card>
</div>
